 * {margin: 0 auto;
    padding: 0;
    } 
    body {}
/* Header */
header {height: 150px;  position: relative;  background-size: cover; background-color: lightblue;
    background-image:url("https://i.pinimg.com/originals/40/44/ee/4044eeb36d5096b29b19c8f1831d9997.jpg");}

.title {display: flex; float: left; margin-left: 200px; margin-top: 60px; color: white;}
.sns {display: flex; float: right; margin-right: 100px; margin-top: 60px;}
.sns img{margin-right: 20px;}

nav{width: 700px; float: right;}
.nav {text-decoration: none;list-style-type: none;  }
ul.nav{display:flex; top: 500px ;}
nav > li {width: 800px; list-style-type: none;}
 a {color: lightblue; text-decoration: none; list-style-type: none; } 
nav > a:hover {background-color: rgb(255, 255, 255);
     color:white;text-decoration: none; list-style-type: none;}
     
.submenu {display: none;
          width: 170px; position: absolute; z-index: 1; margin-top: 5px;  text-align: center;}
.submenu>li {padding: 5px 0; z-index: 2; text-decoration: none; list-style-type: none; color:white;}
.submenu>li:hover {background: lightblue; color:white;text-decoration: none; list-style-type: none;}
/* section */
.booksPic {clear: both; height:450px;  margin-top: 10px; position: relative;}
.booksPic img {width: 100%; height:450px; overflow:hidden; position: absolute;transition: all 2s;}

.login {position:relative;float: right;  margin: 10px; margin-top:15px; display: block;}
.box {width: 100px; overflow:hidden;}


.slidewrap {display: grid;}
   .shelf input[id*="slide"] {display:none;*} 
	.shelf .slidewrap {display: inline-block; max-width:1000px;margin-left:110px;overflow:hidden; }
	.shelf .slidelist {white-space:nowrap;font-size:0;}
	.shelf .slidelist > li {display:inline-block;vertical-align:middle;transition:all .5s;}
	.shelf .slidelist > li > a {display:block;position:relative;}
	.shelf .slidelist > li > a img {width:90px; height: 150px; margin-right: 180px;}
	.shelf .slidelist label {position:absolute;top:50%;;padding:80px;cursor:pointer;}
	.shelf .slidelist .left {left:30px;background:url('/김준경/img/left.png') center center / 100% no-repeat;}
	.shelf .slidelist .right {right:30px;background:url('/김준경/img/right.png') center center / 100% no-repeat;}
    .shelf input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
	.shelf input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
	.shelf input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
    .shelf input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
    .shelf input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
    .shelf input[id="slide06"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}
    .shelf input[id="slide07"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-600%);}
    .arrow{width: 70px; height: 70px; cursor: pointer; }


.said {font-size: 16px;}
.bestSeller{float: right; display: block; overflow:hidden; max-width:200px; font-weight: bold; margin-right: 20px;}
.bestSeller img{width: 200px;}
.login {right: 0; position: absolute; }
button {width: 50px; height: 28px;}

/* Footer */
footer{
    position: absolute;
    line-height: 25px;
    font-size: xx-small;
    font-style: italic;
    width: 100%;
    top: 1100px;
    height: 120px;
    background-color: lightblue;
    text-align: center;

}